<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Recipe</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color:red">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Add A New Recipe</h1>
    <form action="/insert_recipe" method="POST">
        Recipe Name: <br>
        <input type="text" name="recipes"><br><br>
        Description: <br>
        <textarea name="description"></textarea><br><br>
        Instructions: <br>
        <textarea name="instructions"></textarea><br><br>
        Date Made On: <br>
        <input type="date" name="date_made"
            min="1900-01-01" max="2023-12-31"><br><br>
        Under 30 Minutes? <br>
        Yes
        <input type="radio" name="under_thirty" value="yes">
        No
        <input type="radio" name="under_thirty" value="no"><br><br>
        <input type="submit" value="Create"><br><br>
    </form>
    <a href="/logout">Logout</a>
    <a href="/dashboard">Dashboard</a>
</body>
</html>